@import "colores";
@import "estructura";
@import "tipografia";
@import "maps";

footer {
    background-color: $color_secundario;
   
}

.borderr {
    border: $color_borde;
}

.borderr1 {
    $color_borde: 4px solid white;
    border: $color_borde;
}

.nav-color {
    background-color: $nav_color;
}
 
